<div class="row">
  <div class="span9">          
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <a href=<%= portfolio_path%>>
          	<%= image_tag("870x500/1.jpg", :alt => "Mashka") %>
          	<div class="carousel-caption">
          		<h4>mashka 1</h4>
          		<p>Suslova Maria paragraph 1</p>
          	</div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
        		<%= image_tag("870x500/2.jpg", :alt => "Mashka") %>    
        		<div class="carousel-caption">
          		<h4>mashka 2</h4>
          		<p>Suslova Maria paragraph 2</p>
          	</div>
          </a>
      	</div>
        <div class="item">
          <a href=<%= portfolio_path%>>
          	<%= image_tag("870x500/3.jpg", :alt => "Mashka") %>
          	<div class="carousel-caption">
          		<h4>mashka 3</h4>
          		<p>Suslova Maria paragraph 3</p>
          	</div>
          </a>
        </div>    
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/4.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/5.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/6.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/7.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/8.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/9.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/10.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/11.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/12.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/13.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a href=<%= portfolio_path%>>
            <%= image_tag("870x500/14.jpg", :alt => "Mashka") %>
            <div class="carousel-caption">
              <h4>mashka 3</h4>
              <p>Suslova Maria paragraph 3</p>
            </div>
          </a>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>  
    </div>
  </div>
  <div class="span3">
    <h2>Information</h2>
    <p>Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.Maria Suslova cool arhitect. She create a lot of project.</p>
  </div>
</div>