<%= stylesheet_link_tag    "ImageGalleryCSS", :media => "all" %>

<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>

<div id="portfolioTop"></div>
<div class="row">	
	<div id="gallery" class="span12" data-target="#modal-gallery" data-toggle="modal-gallery" >
		<a rel="gallery" href="<%= image_path('870x500/4.jpg')%>" title="Комната">
			<%= image_tag("260x180/DSC_0603.jpg", :alt => "Mashka") %>
		</a>

		<a rel="gallery" href="<%= image_path('870x500/1.jpg')%>" title="Комната">
			<%= image_tag("260x180/DSC_0603.jpg", :alt => "Mashka") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/10.jpg')%>" title="Комната">
			<%= image_tag("260x180/DSC_0603.jpg", :alt => "Mashka") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/11.jpg')%>" title="Комната">
			<%= image_tag("260x180/DSC_0603.jpg", :alt => "Mashka") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/12.jpg')%>" title="Комната">
			<%= image_tag("260x180/DSC_0603.jpg", :alt => "Mashka") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/13.jpg')%>" title="Комната">
			<%= image_tag("260x180/DSC_0603.jpg", :alt => "Mashka") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/14.jpg')%>" title="Комната">
			<%= image_tag("260x180/DCS_0124.jpg", :alt => "Mashka") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/2.jpg')%>" title="Комната">
			<%= image_tag("260x180/DCS_0133.jpg", :alt => "Mashka") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/3.jpg')%>" title="Комната">
			<%= image_tag("260x180/DCS_0134.jpg", :alt => "Mashka") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/5.jpg')%>" title="Комната">
			<%= image_tag("260x180/DCS_0557-2.jpg", :alt => "Mashka") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/6.jpg')%>" title="Комната">
			<%= image_tag("260x180/DCS_0603.jpg", :alt => "Mashka") %>
		</a>

	</div>			   
</div>
<div>
	<a  id="scrollNavArrow" class="scrollArrow" href="#portfolioTop"></a>
</div>

<%= javascript_include_tag "LoadImage" %>
<%= javascript_include_tag "ImageGalleryJS" %>