<%= stylesheet_link_tag 'bootstrap-image-gallery.min', :media => 'screen' %>
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li>
			    <a href="#d1" class="thumbnail">
				    <%= image_tag("portfolio_1.jpg") %>
				    <h5>Thumbnail label1</h5>
	      			<p>Thumbnail caption right here...1</p>
			    </a>
			</li>
			<li>
			    <a href="#d2" class="thumbnail">
				    <%= image_tag("portfolio_2.jpg") %>
				    <h5>Thumbnail label2</h5>
	      			<p>Thumbnail caption right here...2</p>
			    </a>
			</li>
			<li>
			    <a href="#d3" class="thumbnail">
				    <%= image_tag("portfolio_3.jpg") %>
				    <h5>Thumbnail label3</h5>
	      			<p>Thumbnail caption right here...3</p>
			    </a>
			</li>
			<li>
			    <a href="#d4" class="thumbnail">
				    <%= image_tag("portfolio_4.jpg") %>
				    <h5>Thumbnail label4</h5>
	      			<p>Thumbnail caption right here...4</p>
			    </a>
			</li>
			<li>
			    <a href="#d5" class="thumbnail">
				    <%= image_tag("portfolio_5.jpg") %>
				    <h5>Thumbnail label5</h5>
	      			<p>Thumbnail caption right here...5</p>
			    </a>
			</li>
			<li>
			    <a href="#d6" class="thumbnail">
				    <%= image_tag("portfolio_6.jpg") %>
				    <h5>Thumbnail label6</h5>
	      			<p>Thumbnail caption right here...6</p>
			    </a>
			</li>
		</ul>		
	</div>
</div>
<div class="row">
	<%= image_tag("grey_out.png") %>
	<span style="position: relative; bottom: 90px;" id="d1">&nbsp;</span>
	<div class="span6">
		<ul class="thumbnails">
			<li>
			    <%= image_tag("portfolio_1.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_7.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_8.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_9.jpg", :class => "thumbnail") %>
			</li>			
		</ul>
		<a href="#">Back to Top</a>
	</div>
	<div class="span3">
		<h2>Rail Station</h2>
		<p>Samara plan. Rail station design</p>
	</div>
</div>
<div class="row">
	<%= image_tag("grey_out.png") %>
	<span style="position: relative; bottom: 90px;" id="d2">&nbsp;</span>
	<div class="span6">
		<ul class="thumbnails">
			<li>
			    <%= image_tag("portfolio_2.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_10.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_11.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_12.jpg", :class => "thumbnail") %>
			</li>			
		</ul>
		<a href="#">Back to Top</a>
	</div>
	<div class="span3">
		<h2>My apartment1</h2>
		<p>My home apartment1</p>
	</div>
</div>
<div class="row">
	<%= image_tag("grey_out.png") %>
	<span style="position: relative; bottom: 90px;" id="d3">&nbsp;</span>
	<div class="span6">
		<ul class="thumbnails">
			<li>
			    <%= image_tag("portfolio_3.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_9.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_11.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_10.jpg", :class => "thumbnail") %>
			</li>			
		</ul>
		<a href="#">Back to Top</a>
	</div>
	<div class="span3">
		<h2>My apartment2</h2>
		<p>My home apartment2</p>
	</div>
</div>
<div class="row">
	<%= image_tag("grey_out.png") %>
	<span style="position: relative; bottom: 90px;" id="d4">&nbsp;</span>
	<div class="span6">
		<ul class="thumbnails">
			<li>
			    <%= image_tag("portfolio_4.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_7.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_12.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_8.jpg", :class => "thumbnail") %>
			</li>			
		</ul>
		<a href="#">Back to Top</a>
	</div>
	<div class="span3">
		<h2>My apartment3</h2>
		<p>My home apartment3</p>
	</div>
</div>
<div class="row">
	<%= image_tag("grey_out.png") %>
	<span style="position: relative; bottom: 90px;" id="d5">&nbsp;</span>
	<div class="span6">
		<ul class="thumbnails">
			<li>
			    <%= image_tag("portfolio_5.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_9.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_11.jpg", :class => "thumbnail") %>
			</li>
			<li>
			    <%= image_tag("portfolio_10.jpg", :class => "thumbnail") %>
			</li>			
		</ul>
		<a href="#">Back to Top</a>
	</div>
	<div class="span3">
		<h2>My apartment4</h2>
		<p>My home apartment4</p>
	</div>
</div>
<div class="row">
	<%= image_tag("grey_out.png") %>
	<span style="position: relative; bottom: 90px;" id="d6">&nbsp;</span>
	<div class="span6">
		<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
			<a title="Rising Steam and Trout  ~Explore~" href="http://farm9.static.flickr.com/8443/7819076546_b57bb91950_b.jpg" rel="gallery">	
			    <%= image_tag("portfolio_6.jpg", :class => "thumbnail") %>
			</a>
			<a title="Sundown in Amsterdam" href="http://farm8.static.flickr.com/7277/7829491642_9bb92d959d_b.jpg" rel="gallery">
			    <%= image_tag("portfolio_12.jpg", :class => "thumbnail") %>
			</a>
			<a title="Ancient Stones And Sea" href="http://farm8.static.flickr.com/7252/7826143996_91e0d17f42_b.jpg" rel="gallery">
			    <%= image_tag("portfolio_8.jpg", :class => "thumbnail") %>
			</a>
			<a title="Beautiful Eifel (1) [explore 20.08.2012]" href="http://farm8.static.flickr.com/7274/7824208426_6c44969e72_b.jpg" rel="gallery">
			    <%= image_tag("portfolio_7.jpg", :class => "thumbnail") %>
			</a>	

		</div>
		<a href="#">Back to Top</a>
	</div>
	<div class="span3">
		<h2>My apartment5</h2>
		<p>My home apartment5</p>
	</div>
</div>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>

<%= javascript_include_tag :"load-image.min.js" %>
<%= javascript_include_tag :"bootstrap-image-gallery.min.js" %>