<%= stylesheet_link_tag    "ImageGalleryCSS", :media => "all" %>
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
</div>

<div class="row">	
	<div id="gallery" class="span12" data-target="#modal-gallery" data-toggle="modal-gallery" >
		<a rel="gallery" href="<%= image_path('870x500/30.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/30.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/29.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/29.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/28.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/28.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/27.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/27.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/26.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/26.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/25.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/25.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/24.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/24.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/23.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/23.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/22.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/22.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/21.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/21.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/20.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/20.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/19.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/19.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/18.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/18.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/17.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/17.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/14.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/14.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/15.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/15.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/16.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/16.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/1-1.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/1-1.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/1-3.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/1-3.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/1.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/1.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/10-2.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/10-2.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/10-3.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/10-3.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/10.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/10.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/11-1.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/11-1.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/11.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/11.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/12-1.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/12-1.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/12-2.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/12-2.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/12.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/12.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/13.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/13.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/2-2.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/2-2.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/2.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/2.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/3-3.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/3-3.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/3.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/3.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/4.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/4.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/5.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/5.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/7.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/7.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/8.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/8.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
		<a rel="gallery" href="<%= image_path('870x500/9.jpg')%>" title="Мария Суслова: Дизайн интерьеров">
			<%= image_tag("260x180/9.jpg", :alt => "Мария Суслова: Дизайн интерьеров") %>
		</a>
	</div>			   
</div>
<div>
	<a  id="scrollNavArrow" class="scrollArrow" href="#top"></a>
</div>

<%= javascript_include_tag "LoadImage" %>
<%= javascript_include_tag "ImageGalleryJS" %>