<div id="portfolioTop"></div>
<div class="row">	
	<%= render "pages/menu" %>	
	<div class="span9">
		<div class="row">
			<div class="span9">
				<ul class="thumbnails">
					<li>
					    <a href="#d1" class="thumbnail">
						    <%= image_tag("portfolio_1.jpg") %>
					    </a>
					</li>
					<li>
					    <a href="#d2" class="thumbnail">
						    <%= image_tag("portfolio_2.jpg") %>
					    </a>
					</li>
					<li>
					    <a href="#d3" class="thumbnail">
						    <%= image_tag("portfolio_3.jpg") %>
					    </a>
					</li>
					<li>
					    <a href="#d4" class="thumbnail">
						    <%= image_tag("portfolio_4.jpg") %>
					    </a>
					</li>
					<li>
					    <a href="#d5" class="thumbnail">
						    <%= image_tag("portfolio_5.jpg") %>
					    </a>
					</li>
					<li>
					    <a href="#d6" class="thumbnail">
						    <%= image_tag("portfolio_6.jpg") %>
					    </a>
					</li>
				</ul>		
			</div>
		</div>
		<div class="row">
			<%= image_tag("grey_out.png") %>
			<span style="position: relative; bottom: 90px;" id="d1">&nbsp;</span>
			<div class="span6">
				<ul class="thumbnails">
					<li>
					    <%= image_tag("portfolio_1.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_7.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_8.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_9.jpg", :class => "thumbnail") %>
					</li>			
				</ul>
			</div>
			<div class="span3">
				<h2>Rail Station</h2>
				<p>Samara plan. Rail station design</p>
			</div>
		</div>
		<div class="row">
			<%= image_tag("grey_out.png") %>
			<span style="position: relative; bottom: 90px;" id="d2">&nbsp;</span>
			<div class="span6">
				<ul class="thumbnails">
					<li>
					    <%= image_tag("portfolio_2.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_10.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_11.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_12.jpg", :class => "thumbnail") %>
					</li>			
				</ul>
			</div>
			<div class="span3">
				<h2>My apartment1</h2>
				<p>My home apartment1</p>
			</div>
		</div>
		<div class="row">
			<%= image_tag("grey_out.png") %>
			<span style="position: relative; bottom: 90px;" id="d3">&nbsp;</span>
			<div class="span6">
				<ul class="thumbnails">
					<li>
					    <%= image_tag("portfolio_3.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_9.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_11.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_10.jpg", :class => "thumbnail") %>
					</li>			
				</ul>
			</div>
			<div class="span3">
				<h2>My apartment2</h2>
				<p>My home apartment2</p>
			</div>
		</div>
		<div class="row">
			<%= image_tag("grey_out.png") %>
			<span style="position: relative; bottom: 90px;" id="d4">&nbsp;</span>
			<div class="span6">
				<ul class="thumbnails">
					<li>
					    <%= image_tag("portfolio_4.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_7.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_12.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_8.jpg", :class => "thumbnail") %>
					</li>			
				</ul>
			</div>
			<div class="span3">
				<h2>My apartment3</h2>
				<p>My home apartment3</p>
			</div>
		</div>
		<div class="row">
			<%= image_tag("grey_out.png") %>
			<span style="position: relative; bottom: 90px;" id="d5">&nbsp;</span>
			<div class="span6">
				<ul class="thumbnails">
					<li>
					    <%= image_tag("portfolio_5.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_9.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_11.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_10.jpg", :class => "thumbnail") %>
					</li>			
				</ul>
			</div>
			<div class="span3">
				<h2>My apartment4</h2>
				<p>My home apartment4</p>
			</div>
		</div>
		<div class="row">
			<%= image_tag("grey_out.png") %>
			<span style="position: relative; bottom: 90px;" id="d6">&nbsp;</span>
			<div class="span6">		
				<ul class="thumbnails">			
					<li>
					    <%= image_tag("portfolio_6.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_12.jpg", :class => "thumbnail") %>
					</li>
					<li>
					    <%= image_tag("portfolio_8.jpg", :class => "thumbnail") %>
					</li>					
					<li>
					    <%= image_tag("portfolio_7.jpg", :class => "thumbnail") %>
					</li>	
				</ul>
			</div>
			<div class="span3">
				<h2>My apartment5</h2>
				<p>My home apartment5</p>
			</div>
		</div>
	</div>
</div>
<div>
	<a  id="scrollNavArrow" class="scrollArrow" href="#portfolioTop"></a>
</div>