<footer>
	<div class="container">
		<div id="footer-top" class="row"></div>
		<div id="footer-bottom" class="row">
			<div class="pull-right">
				<%= link_to "home", root_path %>
				&bull;
				<%= link_to "about", about_path %>
				&bull;
				<%= link_to "portfolio", portfolio_path %>
				&bull;
				<%= link_to "contact", contact_path %>
				<a href="http://vk.com">
    				<%= image_tag("logo_vk.png", :alt => "vkontakte") %>
    			</a>
    			<a href="http://facebook.com">
					<%= image_tag("logo_facebook.png", :alt => "facebook") %>
    			</a>
				&nbsp; &copy; EskimoCreatorz 2012
			</div>
		</div>
	</div>
</footer>