<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	    <div class="container">
	      	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	      	</a>
	      	<a class="brand" href=<%= root_path%>>Designer Mari</a>
	      	<div class="nav-collapse">
	        	<ul class="nav">		         	
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Portfolio", portfolio_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
	        	</ul>
	        	<ul class="nav pull-right">
	        		<li>
	        			<a href="http://vk.com">
	        				<%= image_tag("logo_vk.png", :alt => "vkontakte") %>
	        			</a>
	        		</li>
	        		<li class="divider-vertical"></li>
	        		<li>
	        			<a href="http://facebook.com">
	        				<%= image_tag("logo_facebook.png", :alt => "facebook") %>
	        			</a>
	        		</li>
	        	</ul>
	      	</div>
	    </div>
	</div>
</div>
<div class="page-header">
	<h1><%= @header%></h1>
</div>